@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


.react-tel-input .flag-dropdown {
  background: rgba(0, 0, 0, 0.4) !important;
  border: 1px solid #4b5563 !important;
}

.react-tel-input .selected-flag {
  background: transparent !important;
}

.react-tel-input .country-list {
  background-color: #0f172a !important; /* dark slate */
  color: white !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #1e293b !important;
}

.react-tel-input .search-box {
  background-color: #111827 !important;
  color: white !important;
}
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}
body {
  font-family: "SN Pro", sans-serif !important;
    @apply font-sn;
}






.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease forwards;
}




/* REAL WATER STYLE LIQUID */
.liquid-blob {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.9;
  background: linear-gradient(
    120deg,
    #00f0ff,
    #00ff9d,
    #4f46e5,
    #9333ea,
    #00f0ff
  );
  background-size: 300% 300%;
  animation: liquidMove 8s ease-in-out infinite;
}

/* Flowing water animation */
@keyframes liquidMove {
  0% {
    background-position: 0% 50%;
    transform: scale(1) rotate(0deg);
  }
  25% {
    background-position: 50% 100%;
    transform: scale(1.1) rotate(10deg);
  }
  50% {
    background-position: 100% 50%;
    transform: scale(1.2) rotate(-10deg);
  }
  75% {
    background-position: 50% 0%;
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    background-position: 0% 50%;
    transform: scale(1) rotate(0deg);
  }
}


@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
