@tailwind base;
@tailwind components;
@tailwind utilities;


.react-tel-input .flag-dropdown {
  background: rgba(0, 0, 0, 0.4) !important;
  border: 1px solid #4b5563 !important;
}

.react-tel-input .selected-flag {
  background: transparent !important;
}

.react-tel-input .country-list {
  background-color: #0f172a !important; /* dark slate */
  color: white !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #1e293b !important;
}

.react-tel-input .search-box {
  background-color: #111827 !important;
  color: white !important;
}
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}
body {
  font-family: "SN Pro", sans-serif !important;
}
